<br>
<br>
<h1>Add Details</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form method="POST" action="/flight/add">
  <div class="form-group">
    <label>MSN</label>
    <input type="text" name="MSN" class="form-control" placeholder="Add MSN">
  </div>
  <div class="form-group">
    <label>Harness Length</label>
    <input type="text" name="harnessLength" class="form-control" placeholder="Harness Length">
  </div>
  <div class="form-group">
    <label>Flight Number</label>
    <input type="text" name="flightNumber" class="form-control" placeholder="Gross Weight">
  </div>
  <div class="form-group">
    <label>Gross Weight</label>
    <input type="text" name="grossWeight" class="form-control" placeholder="Atmospheric Pressure">
  </div>
  <div class="form-group">
    <label>Atmospheric Pressure</label>
    <input type="text" name="atmosphericPressure" class="form-control" placeholder="Room Temperature">
  </div>
  <div class="form-group">
    <label>Room Temperature</label>
    <input type="text" name="roomTemperature" class="form-control" placeholder="Air Port">
  </div>
  <div class="form-group">
    <label>Origin Airport</label>
    <input type="text" name="originAirport" class="form-control" placeholder="Fuel Capacity on Left Wing">
  </div>
  <div class="form-group">
    <label>FuelCapacity Left Wing</label>
    <input type="text" name="fuelCapacityLeft" class="form-control" placeholder="Fuel Capacity on Right wing">
  </div>

  <div class="form-group">
    <label>Fuel capacity Right Wing</label>
    <input type="text" name="fuelCapacityRight" class="form-control" placeholder="Maximum Altitude to be run">
  </div>
  <div class="form-group">
    <label>Fuel Quantity Left Wing</label>
    <input type="text" name="fuelQuantityLeft" class="form-control" placeholder="Flight Number">
  </div>
   <div class="form-group">
    <label>Fuel Quantity Right Wing</label>
    <input type="text" name="fuelQuantityRight" class="form-control" placeholder="Flight Number">
  </div>
   <div class="form-group">
    <label>Target Max Altitude</label>
    <input type="text" name="targetMaxAltitude" class="form-control" placeholder="Flight Number">
  </div>

  </div>
   <div class="form-group">
    <label>Destination Airport</label>
    <input type="text" name="destinationAirport" class="form-control" placeholder="Flight Number">
  </div>

  </div>
   <div class="form-group">
    <label>Date</label>
    <input type="text" name="date" class="form-control" placeholder="Flight Number">
  </div>

  </div>
   <div class="form-group">
    <label>Time</label>
    <input type="text" name="time" class="form-control" placeholder="Flight Number">
  </div>
  
  <input type="submit" class="btn btn-primary" value="Save">
  <br>
  <br>
  <br>
</form>

