<br>
<br>
<h1>Add Details</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form method="POST" action="/flight/add">
  <div class="form-group">
    <label>MSN</label>
    <input type="text" name="MSN" class="form-control" placeholder="Add MSN">
  </div>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" name="HarnessLength" class="form-control" placeholder="Harness Length">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" name="GrossWeight" class="form-control" placeholder="Gross Weight">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" name="AtmosphericPressure" class="form-control" placeholder="Email Address">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" name="RoomTemperature" class="form-control" placeholder="Room Temperature">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" name="AirPort" class="form-control" placeholder="Air Port">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" name="FuelCapacityOnLeftWing" class="form-control" placeholder="Fuel Capacity on Left Wing">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" name="FuelCapacityOnRightwing" class="form-control" placeholder="Fuel Capacity on Right wing">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" name="MaximumAltitudeToBeRun " class="form-control" placeholder="Maximum Altitude to be run">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" name="FlightNumber" class="form-control" placeholder="Flight Number">
  </div>
  <input type="submit" class="btn btn-primary" value="Save">
  <br>
  <br>
  <br>
</form>