<br>
<br>
<h1>Add Details</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form method="POST" action="/flight/add">
  <div class="form-group">
    <label>MSN</label>
    <input type="text" name="MSN" class="form-control" placeholder="Add MSN">
  </div>
  <div class="form-group">
    <label>Harness Length</label>
    <input type="text" name="harnessLength" class="form-control" placeholder="Harness Length">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" name="grossWeight" class="form-control" placeholder="Gross Weight">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" name="atmosphericPressure" class="form-control" placeholder="Email Address">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" name="roomTemperature" class="form-control" placeholder="Room Temperature">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" name="airport" class="form-control" placeholder="Air Port">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" name="fuelCapacityLeft" class="form-control" placeholder="Fuel Capacity on Left Wing">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" name="fuelCapacityRight" class="form-control" placeholder="Fuel Capacity on Right wing">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" name="targetMaxAltitude" class="form-control" placeholder="Maximum Altitude to be run">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" name="flightNumber" class="form-control" placeholder="Flight Number">
  </div>
   <div class="form-group">
    <label>Phone</label>
    <input type="text" name="fuelQuantityLeft" class="form-control" placeholder="Flight Number">
  </div>
   <div class="form-group">
    <label>Phone</label>
    <input type="text" name="fuelQuantityRight" class="form-control" placeholder="Flight Number">
  </div>
  
  <input type="submit" class="btn btn-primary" value="Save">
  <br>
  <br>
  <br>
</form>