<form class="form  my-2 my-lg-0" method="POST" action="/flight/search">
    <br>
    <br>
    <input class="form-control mr-sm-2" type="text" placeholder="     Search">
    </br>
    <center><button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> </center>
    <br>
    <div class="custom-control custom-radio">
        <input type="radio" name="flight" value="MSN"> MSN
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" name="flight" value="HarnessLength"> Harness Length
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" name="flight" value="AtmosphericPressure"> Atmospheric Pressure</br>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" name="flight" value="RoomTemperature"> Room Temperature
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" name="flight" value="AirPort"> Air Port
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" name="flight" value="FuelCapacityOnLeftWing"> Fuel Capacity On LeftWing</br>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" name="flight" value="FuelCapacityOnRightwing"> Fuel Capacity On Rightwing
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" name="flight" value="MaximumAltitudeToBeRun"> Maximum Altitude To Be Run
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" name="flight" value="FlightNumber"> Flight Number
    </div>

</form>